<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lana</title>
    <meta charset="utf-8">
    <meta name="Author" content="Lana">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>

    @{
        ViewData["Title"] = "Home";
    }

    <section class="section">
        <div class="section_container">
            <h2 class="section_header">Welcome! I'm Glad You're Here.</h2>
            <div class="about">
                <div class="about_item">
                    <div class="about_wallpaper">
                        <img src="images/wallpaper1.png" alt="">
                    </div>
                </div>
                <div class="about_item">
                    <div class="about_wallpaper">
                        <img src="images/wallpaper2.png" alt="">
                    </div>
                </div>
                <div class="about_item">
                    <div class="about_wallpaper">
                        <img src="images/wallpaper3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
